label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}
button {
    margin:auto;
    display:block;
    height: 50px;
    width: 200px;
    font-size: 1.2em;
  }
  textarea{
    margin:auto;
    display:block;
    width: 80%;
    height: 200px;
}
#cbox{
    margin:auto;
    display: block;
}
input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
body{
    background-color: #FFC0CB;
}
#meni{
    background-color: white;
    height: 30px;
  }