body{
    background-color: #FFC0CB;
}
input[type='text'] {
    margin:auto;
    display:block;
    width:80%;
    height: 50px;
}
button {
    margin:auto;
    display:block;
    height: 50px;
    width: 200px;
    font-size: 1.2em;
  }
  p{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
}