#meni{
    background-color: #B565A7;
    grid-area: meni;
}
#studenti{
    grid-area: studenti;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#grupe{
    grid-area: grupe;
}
#jedan{
    outline-style: groove;
    outline-color: white;
    text-align: center;
}
a{
    color: white;
}
@media screen and (min-width: 800px){
    body{
        background-color: #34568B;
        display: grid;
        height: 100vh;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.2fr;
        grid-template-rows: 0.25fr 2fr 2fr;
        grid-template-areas: "meni meni meni meni meni meni meni meni meni"
        "studenti studenti studenti studenti studenti studenti studenti studenti grupe"
        "studenti studenti studenti studenti studenti studenti studenti studenti grupe";
        color: white;
        grid-gap: 20px;

    }
    #red{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
@media screen and (max-width: 799px){
    body{
        background-color: #34568B;
        display: grid;
        height: 100vh;
        grid-template-columns: 5fr;
        grid-template-rows: 0.5fr 3fr 3fr;
        grid-template-areas: "meni"
        "studenti"
        "grupe";
        color: white;
        grid-gap: 20px;
    }
       #red{
           gap: 10px;
       }
    }
    @media screen and (max-width: 499px){
        body{
            background-color: #34568B;
            display: grid;
            height: 100vh;
            grid-template-columns: 5fr;
            grid-template-rows: 5fr;
            grid-template-areas: "meni"
            "studenti"
            "grupe";
            color: white;
            grid-gap: 20px;
        }
            #grupe th:nth-of-type(n+2) {  
                display:none;
              }
              #grupe td:nth-of-type(n+2) {  
                display:none;
              }
        #meni{
            display: flex;
            flex-direction: column;
        }
        #red{
            gap: 10px;
        }
    }