#studenti{
    grid-area: studenti;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 62px;
    width: 78%;
}
#grupe{
    grid-area: grupe;
min-width: 390px;
}
#jedan{
    outline-style: groove;
    outline-color: white;
    text-align: center;
}
a{
    color: white;
}
@media screen and (min-width: 800px){
    #meni{
        background-color: #B565A7;
        grid-area: meni;
        width: 85%;
    }
    body{
        background-color: #34568B;
        display: grid;
        height: 100vh;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 0.25fr 5fr;
        grid-template-areas: "meni meni"
        "studenti  grupe";
        color: white;
        grid-gap: 20px;

    }
    #red{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
@media screen and (max-width: 799px){
    #studenti{
        width:100%;
    }
    body{
        background-color: #34568B;
        display: grid;
        height: 100vh;
        grid-template-columns: 5fr;
        grid-template-rows: 0.5fr 3fr 3fr;
        grid-template-areas: "meni"
        "grupe"
        "studenti";
        color: white;
        grid-gap: 20px;
    }
       #red{
           gap: 10px;
       }
    }
    @media screen and (max-width: 499px){
        #studenti{
            width:100%;
        }
        body{
            background-color: #34568B;
            display: grid;
            height: 100vh;
            grid-template-columns: 6fr;
            grid-template-rows: 5fr;
            grid-template-areas: "meni"
            "grupe"
            "studenti";
            color: white;
            grid-gap: 20px;
        }
            #grupe th:nth-of-type(n+2) {  
                display:none;
              }
              #grupe td:nth-of-type(n+2) {  
                display:none;
              }
        #meni{
            display: flex;
            flex-direction: column;
            background-color: #B565A7;
            grid-area: meni;
        }
        #red{
            gap: 10px;
        }
    }